# Looking at a newer data set.
In another notebook we looked at some taxi data from 2016 because it had GPS coordinates for pickup and dropoff information. In order to predict ending location based off starting location we would have to 'bucket' the data into bins and predict the bins, otherwise there would be an infinite amount of possible outcomes and beginnings. The 2017 data already has the locational data seperated into bins, loosely based off of neighborhoods in New York.

![Taxi Zones](./zonemap.png)

## First look at the zones.

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [12]:
zone_df = pd.read_csv('taxi_zones.csv')
zone_df.rename(inplace=True, columns={'zone,C,254':'Zone', 'LocationID,N,4,0':'Location ID', 'borough,C,254':'Borough', 'Shape_Area,N,19,11':'Area'})
zone_df.sort_values('Location ID').head()

,"OBJECTID,N,9,0","Shape_Leng,N,19,11",Area,Zone,Location ID,Borough
0,1,0.116357,0.000782,Newark Airport,1,EWR
1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,0.000498,Arden Heights,5,Staten Island

In [10]:
zone_df[zone_df.duplicated(subset='Location ID')]

,"OBJECTID,N,9,0","Shape_Leng,N,19,11",Area,Zone,Location ID,Borough
56,57,0.019271,0.000018,Corona,56,Queens
103,104,0.021221,0.000012,Governor's Island/Ellis Island/Liberty Island,103,Manhattan
104,105,0.077425,0.000369,Governor's Island/Ellis Island/Liberty Island,103,Manhattan

In [22]:
zone_df.drop_duplicates(subset='Location ID', inplace=True)
zone_df.reset_index()

,index,"OBJECTID,N,9,0","Shape_Leng,N,19,11",Area,Zone,Location ID,Borough
0,0,1,0.116357,0.000782,Newark Airport,1,EWR
1,1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,4,5,0.092146,0.000498,Arden Heights,5,Staten Island
5,5,6,0.150491,0.000606,Arrochar/Fort Wadsworth,6,Staten Island
6,6,7,0.107417,0.000390,Astoria,7,Queens
7,7,8,0.027591,0.000027,Astoria Park,8,Queens
8,8,9,0.099784,0.000338,Auburndale,9,Queens
9,9,10,0.099839,0.000436,Baisley Park,10,Queens
10,10,11,0.079211,0.000265,Bath Beach,11,Brooklyn
11,11,12,0.036661,0.000042,Battery Park,12,Manhattan
12,12,13,0.050281,0.000149,Battery Park City,13,Manhattan
13,13,14,0.175214,0.001382,Bay Ridge,14,Brooklyn
14,14,15,0.144336,0.000925,Bay Terrace/Fort Totten,15,Queens
15,15,16,0.141292,0.000872,Bayside,16,Queens
16,16,17,0.093523,0.000323,Bedford,17,Brooklyn
17,17,18,0.069800,0.000149,Bedford Park,18,Bronx
18,18,19,0.101825,0.000547,Bellerose,19,Queens
19,19,20,0.051440,0.000135,Belmont,20,Bronx
20,20,21,0.115974,0.000380,Bensonhurst East,21,Brooklyn
21,21,22,0.126170,0.000472,Bensonhurst West,22,Brooklyn
22,22,23,0.290556,0.002196,Bloomfield/Emerson Hill,23,Staten Island
23,23,24,0.047000,0.000061,Bloomingdale,24,Manhattan
24,24,25,0.047146,0.000124,Boerum Hill,25,Brooklyn
25,25,26,0.123548,0.000534,Borough Park,26,Brooklyn
26,26,27,0.202509,0.001341,Breezy Point/Fort Tilden/Riis Beach,27,Queens
27,27,28,0.097961,0.000291,Briarwood/Jamaica Hills,28,Queens
28,28,29,0.071408,0.000202,Brighton Beach,29,Brooklyn
29,29,30,0.094510,0.000146,Broad Channel,30,Queens
...,...,...,...,...,...,...,...
230,233,234,0.036072,0.000073,Union Sq,234,Manhattan
231,234,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx
232,235,236,0.044252,0.000103,Upper East Side North,236,Manhattan
233,236,237,0.042213,0.000096,Upper East Side South,237,Manhattan
234,237,238,0.060109,0.000185,Upper West Side North,238,Manhattan
235,238,239,0.063626,0.000205,Upper West Side South,239,Manhattan
236,239,240,0.146070,0.000722,Van Cortlandt Park,240,Bronx
237,240,241,0.068765,0.000255,Van Cortlandt Village,241,Bronx
238,241,242,0.138136,0.000360,Van Nest/Morris Park,242,Bronx
239,242,243,0.094331,0.000438,Washington Heights North,243,Manhattan
240,243,244,0.080569,0.000360,Washington Heights South,244,Manhattan
241,244,245,0.095983,0.000466,West Brighton,245,Staten Island
242,245,246,0.069467,0.000281,West Chelsea/Hudson Yards,246,Manhattan
243,246,247,0.092968,0.000206,West Concourse,247,Bronx
244,247,248,0.056919,0.000150,West Farms/Bronx River,248,Bronx
245,248,249,0.036384,0.000072,West Village,249,Manhattan
246,249,250,0.079626,0.000241,Westchester Village/Unionport,250,Bronx
247,250,251,0.137711,0.000626,Westerleigh,251,Staten Island
248,251,252,0.158004,0.001025,Whitestone,252,Queens
249,252,253,0.036051,0.000078,Willets Point,253,Queens
250,253,254,0.085886,0.000360,Williamsbridge/Olinville,254,Bronx
251,254,255,0.062384,0.000172,Williamsburg (North Side),255,Brooklyn
252,255,256,0.067915,0.000169,Williamsburg (South Side),256,Brooklyn
253,256,257,0.058669,0.000139,Windsor Terrace,257,Brooklyn
254,257,258,0.089013,0.000366,Woodhaven,258,Queens
255,258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx
256,259,260,0.133514,0.000422,Woodside,260,Queens
257,260,261,0.027120,0.000034,World Trade Center,261,Manhattan
258,261,262,0.049064,0.000122,Yorkville East,262,Manhattan
259,262,263,0.037017,0.000066,Yorkville West,263,Manhattan