# Crazy Taxi Data Exploration and Acquisition
Here we will explore the data sets obtained from http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml. This is data collected by the Taxi & Limo Commission on New York City taxis. 

There are three types of taxis in NYC. Yellow: these are your usual yellow taxis and are not restricted to pickup customers in any area. Green: these are called Boro Taxis and primarily service everything outside of downtown Manhattan and are not allowed to pick up in the Manhattan exclusionary zone. FHV (For-Hire-Vehicle): these are prearranged taxis all around NY through approved third party dispatchers.

Here is a map of the zones:
![Map of zones](map_service_area_map_thumbnail.jpg)
*Yellow area is the Manhatten exclusioary zone, green area is the area where both yellow and green taxis can pick up and drop off.(http://www.nyc.gov/html/tlc/html/passenger/shl_passenger.shtml)*

## Loading the Data into pandas and Cleaning

In [20]:
import pandas as pd

yellow_data = pd.read_csv('Data/yellow_tripdata_2017-02.csv')
green_data = pd.read_csv('Data/green_tripdata_2017-02.csv')
#fhv_data = pd.read_csv('Data/fhv_tripdata_2017-01.csv') some reason this wont work

In [21]:
yellow_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2017-02-03 02:03:50,2017-02-03 02:20:55,1,3.29,1,N,87,246,1,14.0,0.0,0.5,1.50,0.0,0.3,16.30
1,2,2017-02-03 02:26:04,2017-02-03 02:46:47,1,2.80,1,N,68,239,2,15.0,0.0,0.5,0.00,0.0,0.3,15.80
2,2,2017-02-03 02:49:51,2017-02-03 09:56:17,1,0.90,1,N,239,43,1,6.0,0.0,0.5,1.36,0.0,0.3,8.16
3,2,2017-02-03 04:41:54,2017-02-03 04:52:41,1,0.72,1,N,163,230,1,8.0,0.0,0.5,1.76,0.0,0.3,10.56
4,2,2017-02-03 04:57:38,2017-02-03 12:16:14,1,1.10,1,N,186,230,1,11.0,0.0,0.5,3.54,0.0,0.3,15.34

In [22]:
green_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2017-02-01 00:00:15,2017-02-01 00:07:09,N,1,134,216,1,4.54,13.5,0.5,0.5,4.44,0.0,NaN,0.3,19.24,1,1
1,2,2017-02-01 00:03:19,2017-02-01 00:17:59,N,1,43,244,1,3.21,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1
2,2,2017-02-01 00:31:47,2017-02-01 00:40:23,N,1,24,41,1,1.63,8.0,0.5,0.5,1.00,0.0,NaN,0.3,10.30,1,1
3,2,2017-02-01 00:44:14,2017-02-01 00:49:21,N,1,43,263,1,0.76,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1
4,2,2017-02-01 00:03:17,2017-02-01 00:09:45,N,1,95,121,1,2.24,8.5,0.5,0.5,1.00,0.0,NaN,0.3,10.80,1,1

In [23]:
yellow_data.describescribe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06,9.168825e+06
mean,1.547617e+00,1.624975e+00,2.801204e+00,1.039424e+00,1.634694e+02,1.611433e+02,1.324902e+00,1.243636e+01,3.303402e-01,4.975689e-01,1.790723e+00,2.741688e-01,2.996484e-01,1.563245e+01
std,4.977275e-01,1.267718e+00,3.541775e+00,6.216132e-01,6.663460e+01,7.052562e+01,4.876912e-01,1.729799e+02,4.426037e-01,7.308792e-02,2.491725e+00,1.684191e+00,1.377835e-02,1.731556e+02
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-2.200000e+02,-5.350000e+01,-5.000000e-01,-1.571000e+01,-1.500000e+01,-3.000000e-01,-2.358000e+02
25%,1.000000e+00,1.000000e+00,9.700000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.360000e+00,0.000000e+00,3.000000e-01,1.162000e+01
75%,2.000000e+00,2.000000e+00,2.930000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.400000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.715000e+01
max,2.000000e+00,9.000000e+00,3.240000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,3.617702e+05,6.980000e+01,1.018000e+02,4.780000e+02,8.105000e+02,3.000000e-01,3.617720e+05